<!DOCTYPE html>
<html>
    <head>
        <title>Kanjo</title>
        <link rel='stylesheet' text="text/css" href="./static/style.css">
        <nav>
            <ul id="MenuItems">
                <li> <a href="index.html">Home</a></li>
                <li> <a href="service.html">Service</a></li>
                <li> <a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </head>
    <body>
          <a href ="index.html"><img src="./static/images/kanjo3.png" width='400px'></a>
          <h1>
            Inside on Kanjo
          </h1>
          <h3>Mission Statement</h3>
          <p>“Strive to improve your mental health, and Control your emotions to Satisfy your daily life.”</p>
          <h3>Target customer</h3>
          <p>Target customer are the people who have a hard time talking about their emotions and feel as there is no way to help them. </p>
          <h3>Problem</h3>
          <p>People have problem understanding of they feel and what they are going to do if the feeling continues to build. So I want to give them a place where they can just relax and talk to people. Regular therapy cost way to much per session in my opition, so we are giving them that a cheaper price. 
          
    <body>
</html>