<!DOCTYPE html>
<html>
    <head>
        <title>Kanjo</title>
        <nav>
          <ul id="MenuItems">
              <li> <a href="service.html">Service</a></li>
              <li> <a href="about.html">About</a></li>
              <li> <a href="contact.html">Contact</a></li>
          </ul>
      </nav>
        <link rel='stylesheet' text="text/css" href="./static/style.css">
    </head>
    <body>
          <a href ="index.html"><img src="./static/images/kanjo.png" width='150px'></a>
          <h1>
            Kanjo, where you emotions can be let free.
          </h1>
          <p> Emotions are not always meant to be hidden, but are meant to be expressed and shown to the world. Struggling is the leading factor to making your life better, so having a place where you can go to let those emotions free will help you get a understanding of your emotions while dealing with the struggle.</p>
          <a href ="index.html"><img src="./static/images/therapy.jpeg" width='700px'></a>
    <br>
    <br>
    <br>
    <h1> Common prices with therapy</h1>
    <p> Most sessions in Michigan cost about $165. Now that is per session, and to me that's a lot of money. So we have brought out cheaper sessions so that people can enjoy more time with a counselor or therapist for a cheaper amount. Being chargered $50 for a hour will give people a better mindset about who they trust with helping them solve their problems and get a understanding of their emotions.</p>
      <br>
      <br>
      <p>

    <body>
</html>