<!DOCTYPE html>
<html>
    <head>
        <title>Kanjo</title>
        <link rel='stylesheet' text="text/css" href="./static/style.css">
        <nav>
            <ul id="MenuItems">
                <li> <a href="index.html">Home</a></li>
                <li> <a href="about.html">About</a></li>
                <li> <a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <a href ="index.html"><img src="./static/images/kanjo2.png" width='400px'></a>
  
        <h3>A choice price that can be used</h3>
        <p>I was stuck on this price for a while. I thought about making the price $50 per hour but sometimes people don't wanna pay that price so we can give the customer a better choice that works for them.</p>
        <h3>What we provide</h3>
        <p>We provide different online sessions for people who feel they can't express their thoughts. They can start off with alone time with a counselor then once they have built up the corage to talk with more people, we can offer group sessions.</p>
        <h3>Why this page is set up like this</h3>
        <p>You can't have a set price for helping people with their emotions until you have a set amount of time you want to have the lesson for. Because you can do sessions alone, with the parents, or a group, the prices will always be changed. 
        
  <body>
</html>